.notFound {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  max-width: 500px;
  min-width: 30vw;
}

.caption {
  text-align: center;
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 12px 0;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 12px;
}