.taskList {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 16px auto 0;
  max-width: 1400px;
  & > :first-child {
    align-self: flex-end;
    margin-right: 16px;
  }
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.grid > * {
  flex: 1 1 320px;
  max-width: 100%;
}