.taskList {
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  & > * {
    flex: 1 1 320px;
    max-width: 100%;
  }
}


@media (max-width: 576px)  {
  .taskList {
    padding: 16px 0;
  }
}