.card {
  padding: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

p{
  margin: 0;
}

.title {
  margin-bottom: 8px;
}

.description {
  margin-bottom: 12px;
}

.tagGroup {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 12px;
}

.controlBlock{
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.deleteButton{
  all: unset;
  cursor: pointer;
  display: flex;
  color: red;
  transition: 0.2s;
  opacity: 0.5;
  &:hover{
    scale: 1.05;
  }
}
